@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">欢迎欢迎</h1>
    <p>好兄弟，来b站看视频<a href="https://www.bilibili.com/">https://www.bilibili.com/</a>.</p>
</div>
